/* Color Pallete for project */
:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #5c5577;
}

*,
::before,
::after {
    box-sizing: border-box;
}




/* Typography */
::selection {
    background: var(--color-accent);
    color: #000;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    line-height: 1.6;
}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    font-size: 2.4rem;
    margin-top: 0;
}

a {
    text-decoration: none;
}

@media screen and (min-width:768px) {
    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    p {
        font-size: 1.8rem;
    }
}




/* Link-arrow */
.link-arrow {
    color: var(--color-accent);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 3px;
}

.link-arrow::after {
    content: '-->';
    padding-left: 5px;
    transition: 0.3s ease-out;
}

.link-arrow:hover::after {
    padding-left: 10px;
}

@media screen and (min-width:768px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}




/* Badges */
.badge {
    color: #fff;
    padding: 0.8rem 2.5rem;
    border-radius: 30px;
    font-size: 2rem;
    white-space: nowrap;
}

.badge--small {
    font-size: 1.6rem;
    padding: 0.8rem 1.5rem;
}

.badge--bold {
    font-weight: 600;
}

.badge--primary {
    background: var(--color-primary);
}

.card .badge--primary {
    background: #126de4;
}

.badge--secondary {
    background: var(--color-secondary);
}

.card .badge--secondary {
    background: #02cdf1;
}

@media screen and (min-width:768px) {
    .badge {
        font-size: 1.5rem;
        padding: 0.8rem 1.5rem;
    }

    .badge--small {
        font-size: 1.2rem;
        padding: 0.8rem 1.2rem;
    }
}




/* Buttons */
a.btn {
    display: inline-block;
    padding: 2.1rem 3rem;
    text-align: center;
}

a.btn--block {
    display: block;
}

a.btn--stretched {
    padding: 2.1rem 8rem;
}

.btn {
    border-radius: 40px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 2.5rem 3rem;
    text-transform: uppercase;
    transition: 0.2s;
}

.btn--block {
    display: block;
    width: 100%;
}

.btn--stretched {
    padding: 2.5rem 8rem;
}

.btn--primary {
    background: var(--color-primary);
}

.btn--primary:hover {
    background: #0866e0;
}

.btn--secondary {
    background: var(--color-secondary);
}

.btn--secondary:hover {
    background: #00abc9;
}

.btn--accent {
    background: var(--color-accent);
}

.btn--accent:hover {
    background: #dd2c00;
}

.btn.btn--outline {
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
    padding: 1.9rem 3rem;
}

.btn.btn--outline:hover {
    background: var(--color-headings);
    color: #fff;
}

.btn.btn--outline.btn--block {
    display: block;
}

.btn.btn--outline.btn--stretched {
    padding: 1.9rem 8rem;
}

@media screen and (min-width:768px) {
    .btn {
        font-size: 1.5rem;
    }
}





/* Lists */
.list {
    list-style: none;
    padding-left: 0;
    font-weight: 500;
}

.list--checks {
    padding-left: 3rem;
    list-style-image: url(/images/tick.svg);
}

.list__item {
    margin-bottom: 1.5rem;
    padding-left: 0.5rem;
}




/* Icons */
.icon {
    width: 50px;
    height: 50px;
}

.icon--small {
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill: var(--color-primary);
}

.icon--white {
    fill: #fff;
}


.icon-container {
    display: inline-flex;
    background: #f3f9fa;
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon-container--accent {
    background: var(--color-accent);
}




/* Input-group */
.input {
    color: var(--color-body);
    font-size: 2rem;
    padding: 2rem 5rem;
    border-radius: 40px;
    outline: none;
    border: none;
    width: 100%;
    padding-right: 0;
}

::placeholder {
    color: #cdcbd7;
}

.input-group {
    display: flex;
    border-radius: 40px;
    justify-content: space-between;
    box-shadow: 0 6px 20px 2px rgb(221, 221, 221);
}

.input-group .btn {
    margin: 0.3rem;
}




/* Card */
.card {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    box-shadow: 0 0 50px 5px lightgrey;
    overflow: hidden;
}

.card__content {
    padding: 2rem 4rem;
}

.card__header {
    color: #fff;
}

.card--primary .card__header {
    background: var(--color-primary);
}

.card--secondary .card__header {
    background: var(--color-secondary);
}




/* Plans */
.plan__name {
    margin: 0;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 500;
}

.plan__price {
    display: inline-block;
    font-size: 6rem;
    margin: 0;
}

.plan__billing-cycle {
    display: inline-block;
    opacity: 0.8;
    font-size: 2.4rem;
    margin: 0 1rem 0 0.5rem;
    position: relative;
    bottom: 5px;
}

.plan .badge {
    position: relative;
    bottom: 10px;
}

.plan__description {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1px;
}

.plan__list {
    font-size: 2.4rem;
    color: var(--color-headings);
    font-weight: 500;
    margin-bottom: 2rem;
}

.plan--popular .card {
    position: relative;
}

.plan--popular .card__header::before {
    content: url( /images/popular.svg);
    display: inline-block;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 5%;
    top: -7px;
}

@media screen and (min-width: 768px) {
    .plan__name {
        font-size: 1.4rem;
    }

    .plan__price {
        font-size: 5rem;
    }

    .plan__billing-cycle {
        font-size: 1.6rem;
    }

    .plan__description {
        font-size: 1.6rem;
    }

    .plan__list {
        font-size: 1.8rem;
    }
}




/* Grid */
.grid {
    display: grid;
}

@media screen and (min-width:768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}




/* Media */
.media {
    display: flex;
    padding-left: 2rem;
}

.media__image {
    margin-top: 1.3rem;
}

.media__body {
    margin-left: 2rem;
}

.media__heading {
    margin-top: 0;
    font-size: 2.4rem;
}

.media__text {
    font-size: 2rem;
}


@media screen and (min-width:768px) {
    .media__heading {
        font-size: 1.8rem;
        margin-top: 1rem;
    }

    .media__text {
        font-size: 1.8rem;
    }
}




/* Quotes */
.quote {
    font-size: 2.4rem;
    font-style: italic;
    color: var(--color-body);
    font-weight: 500;
    line-height: 1.4;
    margin: 2rem;
}

.quote::before {
    content: open-quote;
}

.quote::after {
    content: close-quote;
}

.quote__author {
    font-size: 3rem;
    margin: 0;
}

.quote__body {
    margin-left: 1.5rem;
}

.quote__company {
    font-size: 2rem;
    opacity: 0.4;
}

.quote__line {
    position: relative;
    bottom: 15px;
}

@media screen and (max-width:375px) {
    .quote__body {
        margin-left: 0;
    }

    .quote {
        font-size: 1.8rem;
    }

    .quote__author {
        font-size: 1.5rem;
    }

    .quote__company {
        font-size: 1.2rem;
    }

    .quote__line {
        transform: scale(0.7);
        bottom: 25px;
    }
}

@media screen and (min-width:768px) {
    .quote {
        font-size: 2.4rem;
    }

    .quote__author {
        font-size: 2.4rem;
    }

    .quote__company {
        font-size: 1.6rem;
    }
}




/* Testimonial */
.testimonial__grid {
    padding: 2rem;
}

.testimonial__image {
    position: relative;
}

.testimonial__image > img {
    width: 100%;
    padding: 1rem;
}

.testimonial .quote {
    margin-top: 2rem;
}

.testimonial__icon {
    transform: scale(0.9);
    position: absolute;
    right: -20px;
    top: 30px;
}

@media screen and (max-width:375px) {
    .testimonial__icon {
        transform: scale(0.7);
        right: -30px;
        top: 20px;
    }
}

@media screen and (min-width:768px) {
    .testimonial .quote {
        margin-top: 4rem;
        font-size: 3rem;
    }

    .testimonial__body {
        margin-left: 2rem;
    }

    .testimonial__icon {
        right: -25px;
    }
}




/* Callout */
.callout {
    background: var(--color-primary);
}

.callout__grid {
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.callout__header {
    text-align: center;
    color: #fff;
    margin: 2rem 4rem 0 4rem
}

.callout__heading {
    color: #fff;
    margin-top: 2rem;
}

.callout .btn {
    margin-bottom: 6rem;
}

@media screen and (min-width:768px) {
    .callout__grid {
        grid-template-columns: auto auto;
    }

    .callout__header {
        text-align: left;
        margin: 2rem 4rem;
    }

    .callout .btn {
        margin: 0 3rem;
    }
}




/* Collapsible */
.collapsible__heading {
    margin: 0;
}

.collapsible__header {
    display: flex;
    justify-content: space-between;
}
.collapsible__toggler {
    width: 50px;
    transform: rotate(-90deg);
    cursor: pointer;
    transition: 0.3s;
}

.collapsible__content {
    max-height: 0vh;
    opacity: 0;
    transition: max-height 0.3s, opacity 0.3s;
}

.collapsible--expanded .collapsible__toggler {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100%;
    opacity: 1;
}