/* Color Pallete for project */
:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
}




/* Typography */
html {
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    line-height: 1.6;
}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    font-size: 2.4rem;
    margin-top: 0;
}

@media screen and (min-width:768px) {
    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    p {
        font-size: 1.8rem;
    }
}




/* Link-arrow */
.link-arrow {
    color: var(--color-accent);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 3px;
}

.link-arrow::after {
    content: '-->';
    padding-left: 5px;
    transition: 0.3s ease-out;
}

.link-arrow:hover::after {
    padding-left: 10px;
}

@media screen and (min-width:768px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}




/* Badges */
.badge {
    color: #fff;
    padding: 0.8rem 2.5rem;
    border-radius: 30px;
    font-size: 2rem;
}

.badge--small {
    font-size: 1.6rem;
    padding: 0.8rem 1.5rem;
}

.badge--bold {
    font-weight: 600;
}

.badge--primary {
    background: var(--color-primary);
}

.badge--secondary {
    background: var(--color-secondary);
}


@media screen and (min-width:768px) {
    .badge {
        font-size: 1.5rem;
        padding: 0.8rem 1.5rem;
    }

    .badge--small {
        font-size: 1.2rem;
        padding: 0.8rem 1.2rem;
    }
}
