<blockquote class="quote">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
  perspiciatis exercitationem fugiat, accusantium ad, quod quam nesciunt debitis
  consectetur, eum dolorum ipsa molestiae saepe sed. Ullam ipsam earum ducimus
  asperiores.
</blockquote>
<div class="media">
  <div class="media__image quote__line">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#line"></use>
    </svg>
  </div>
  <div class="media__body quote__body">
    <h3 class="media__heading quote__author">Adam Worth</h3>
    <p class="media__text quote__company">ABC Company</p>
  </div>
</div>
