<div class="collapsible">
  <img class="collapsible__toggler" src="/images/chevron.svg" alt="" />
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam
    dignissimos totam expedita. Commodi minus maxime dolor corrupti voluptatem
    doloribus, hic unde et debitis veniam similique officia laborum odio vel
    ipsam animi doloremque placeat, incidunt deserunt? Nam fuga officia
    aspernatur eligendi dolor odio vel, quasi minima hic sed explicabo ullam?
    Voluptas?
  </div>
</div>
