<nav class="nav-background">
  <nav class="nav container collapsible">
    <a class="nav__brand" href="/"><img src="images/logo.svg" alt="" /></a>
    <img src="images/menu-icon.png" alt="" class="nav__menu-icon" />
    <ul class="list collapsible__content">
      <li class="list__item"><a href="#"></a>Hosting</li>
      <li class="list__item"><a href="#"></a>VPS</li>
      <li class="list__item"><a href="#"></a>Domain</li>
      <li class="list__item"><a href="#"></a>Pricing</li>
    </ul>
  </nav>
</nav>
