<section class="block container block-domain">
  <header class="block__header domain__header">
    <h2 class="block__heading">The best webhosting Starting at per month</h2>
    <p class="block__tagline domain__tagline">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
      repellendus iure consequatur excepturi esse blanditiis ratione repellat
      vel ipsam corporis?
    </p>
  </header>
  <div class="input-group">
    <input
      class="input"
      type="text"
      minlength="3"
      maxlength="255"
      placeholder="Enter domain name here..."
    />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list domain-list">
    <li>.com $9.26</li>
    <li><span class="badge badge--secondary">.sg $7.91</span></li>
    <li>.space $12.98</li>
    <li>.info $14.59</li>
    <li>.net $16.87</li>
    <li>.xyz $10.99</li>
  </ul>
</section>
