<section class="block container block-testimonial">
  <header class="block__header">
    <h2 class="block__heading">What our Customers are Saying</h2>
    <p class="block__tagline">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </header>
  <div class="card testimonial">
    <div class="grid grid--1x2 testimonial__grid">
      <div class="testimonial__image">
        <div class="icon-container icon-container--accent testimonial__icon">
          <svg class="icon icon--white icon--small">
            <use xlink:href="images/sprite.svg#quotes"></use>
          </svg>
        </div>
        <img src="images/testimonial.jpg" alt="" />
      </div>
      <div class="testimonial__body">
        <blockquote class="quote">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
          excepturi mollitia sint culpa repellat consequatur eum maxime
          dignissimos non, corrupti fugit quod iste, laborum harum fuga commodi
          veniam. Impedit, harum.
        </blockquote>
        <div class="media">
          <div class="media__image quote__line">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body quote__body">
            <h3 class="media__heading quote__author">Adam Worth</h3>
            <p class="media__text quote__company">ABC Company</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
