<footer class="block block--dark footer">
  <div class="container grid__footer">
    <div class="container grid collapsible collapsible--expanded">
      <h2 class="footer__heading">Products</h2>
      <img
        class="footer__chevron collapsible__toggler"
        src="images/chevron.svg"
        alt=""
      />
      <ul class="list collapsible__content">
        <li class="list__item"><a href="#"></a>WordPress Hosting</li>
        <li class="list__item"><a href="#"></a>Free Automated WordPress</li>
        <li class="list__item"><a href="#"></a>Migrations</li>
        <li class="list__item"><a href="#"></a>Domain Names</li>
        <li class="list__item"><a href="#"></a>Monthly Web Hosting</li>
      </ul>
    </div>
    <div class="container grid collapsible">
      <h2 class="footer__heading">Company</h2>
      <img
        class="footer__chevron collapsible__toggler"
        src="images/chevron.svg"
        alt=""
      />
      <ul class="list collapsible__content">
        <li class="list__item"><a href="#"></a>About</li>
        <li class="list__item"><a href="#"></a>Affiliates</li>
        <li class="list__item"><a href="#"></a>Blog</li>
        <li class="list__item"><a href="#"></a>Careers</li>
        <li class="list__item"><a href="#"></a>Community</li>
        <li class="list__item"><a href="#"></a>News</li>
        <li class="list__item"><a href="#"></a>Green Hosting</li>
      </ul>
    </div>
    <div class="container grid collapsible">
      <h2 class="footer__heading">Support</h2>
      <img
        class="footer__chevron collapsible__toggler"
        src="images/chevron.svg"
        alt=""
      />
      <ul class="list collapsible__content">
        <li class="list__item"><a href="#"></a>Contact</li>
        <li class="list__item"><a href="#"></a>Knowledge Base</li>
        <li class="list__item"><a href="#"></a>Forums</li>
        <li class="list__item"><a href="#"></a>System Status</li>
        <li class="list__item"><a href="#"></a>Web Hosting</li>
        <li class="list__item"><a href="#"></a>Web Dream Compute</li>
      </ul>
    </div>
    <div class="container grid collapsible">
      <h2 class="footer__heading">Domains</h2>
      <img
        class="footer__chevron collapsible__toggler"
        src="images/chevron.svg"
        alt=""
      />
      <ul class="list collapsible__content">
        <li class="list__item"><a href="#"></a>Domain Checker</li>
        <li class="list__item"><a href="#"></a>Domain Transfer</li>
        <li class="list__item"><a href="#"></a>Free Domain</li>
        <li class="list__item"><a href="#"></a>XYZ Domain</li>
        <li class="list__item"><a href="#"></a>Cheap SSL Certificate</li>
      </ul>
    </div>
    <div class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="copyright">Copyright 2022 Mohit</p>
    </div>
  </div>
</footer>
