<div class="card card--primary">
  <header class="card__header">
    <div class="card__content">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus
        quisquam exercitationem
      </p>
    </div>
  </header>
  <div class="card__body">
    <div class="card__content">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est non eos ex
        reprehenderit explicabo magni, esse in reiciendis quos tenetur.
      </p>
    </div>
  </div>
</div>
