<div class="plan plan--popular">
  <div class="card card--primary">
    <header class="card__header">
      <div class="card__content">
        <h3 class="plan__name">Entry</h3>
        <p class="plan__price">$14</p>
        <p class="plan__billing-cycle">/month</p>
        <span class="badge badge--primary badge--small badge--bold"
          >10% OFF</span
        >
        <p class="plan__description">Easy start on the cloud</p>
      </div>
    </header>
    <div class="card__body">
      <div class="card__content">
        <ul class="list list--checks plan__list">
          <li class="list__item">Unlimited Websites</li>
          <li class="list__item">Unlimited Bandwidth</li>
          <li class="list__item">100GB SSD Storage</li>
          <li class="list__item">3 GB RAM</li>
        </ul>
        <button class="btn btn--outline btn--block">Buy Now</button>
      </div>
    </div>
  </div>
</div>
